body{    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
#main{
    width: 100%;
}
#header{
    border: 2px solid #1153b6;
    text-align: center;
    background-color: cadetblue;
}
h1{
    color: darkslategrey;
    margin: 0;
}
h2{
    color: darkslategrey;
    margin: 0;
}
h3{
    display: flex;
    color: darkslategrey;
    align-items: center;
    padding-right: 5px;
}
.contact-info{
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}
.hr-header{
    height: 3px ;
    width: 83%;
    background-color: #1153b6;
}
.hr-summary{
    height: 140px;
    width: 1px;
    border: none;
    margin-right: 3px;
    background-color: purple;
}
.phone{
    display: flex;
}
a.mail{
    text-decoration: none;
    height: 1.75em;
}
#summary{
    display: flex;
    border: 2px solid purple;
    align-content: center;
    background-color: #718c9d;
    justify-items: center;
}
.overview{
    border: 2px solid orange;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

/*Overview for experience*/
.overview-exp{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    border: 2px solid brown;
}


/*title for skills section*/
.title{
    border: 2px solid blue;
    width: 100%;
    text-align: center;
}

/*title for experience section*/
.overview-exp .title{
    text-align: left;
    width: 100%;
}

/*container for jobs qualified for*/
.job-wanted{
    border: 2px solid green;
}

/*experience type container*/
.type{
    border: 2px solid gold;
}

/*year experience occured container*/
.year{
    border: 2px solid teal;
}

/*container for type and year*/
/*needed additional layer to make the containers not wrap*/
.type-year{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px solid brown;
}

#gpa{
    border: 2px solid maroon;
}